<?xml version="1.0"?>
<launch>

  <arg name="source_data" default="end_effector_interactive_marker_reflexx_typeII"/>

  <node name="push_admitance_task" pkg="pal_wbc_utils" type="push_interactive_marker_pose_task">
  	<param name="source_data" value="$(arg source_data)" />
    <param name="tip_name" value="wrist_ft_link" />
    <param name="admitance_ft" value="wrist_ft" />
  </node>

</launch>
