<?xml version="1.0"?>
<launch>

  <arg name="stack" default="tiago_fixed_base_wbc"/>
  
  <!-- Upload capsule collision operations  & description-->
  <include file="$(find tiago_wbc)/launch/tiago_capsule_description.launch" />

  <!-- Configure local joint control -->
  <rosparam command="load"
    file="$(find tiago_wbc)/config/tiago_position_joints.yaml" 
    ns="whole_body_kinematic_controller"/>

  <!-- Configure wbc -->
  <rosparam command="load"
    file="$(find tiago_wbc)/config/$(arg stack).yaml" />

  <!-- Spawn controller -->
  <node name="wbc_controllers_spawner"
        pkg="controller_manager" type="spawner" output="screen"
        args="whole_body_kinematic_controller" />
        
</launch>
