<?xml version="1.0"?>
<launch>

  <arg name="debug" default="false"/>
  <arg name="valgrind" default="false"/>
  <arg name="stack" default="tiago_fixed_base_wbc"/>

  <arg name="source_data" default="end_effector_interactive_marker_reflexx_typeII"/>  <!-- interactive_marker or topic -->
  <param name="whole_body_kinematic_controller/source_data" value="$(arg source_data)" />

  <include file="$(find tiago_description)/robots/upload_tiago.launch" />

  <include file="$(find pal_kinematic_simulator)/launch/kinematic_simulator_ros_control.launch">
    <arg name="debug" value="$(arg debug)"/>
    <arg name="valgrind" value="$(arg valgrind)"/>
    <arg name="parameters" value="--cycle_time 0.005"/> 
  </include>

  <include file="$(find tiago_wbc)/launch/tiago_wbc.launch">
    <arg name="stack" value="$(arg stack)" />
  </include>

  <include file="$(find tiago_controller_configuration)/launch/joint_state_controller.launch"/>

  <node name="push_interactive_marker_task" pkg="tiago_wbc" type="push_interactive_marker_task"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tiago_wbc)/config/rviz/tiago_wbc.rviz" />

</launch>

