<?xml version="1.0"?>
<launch>

  <arg name="debug" default="false"/>
  <arg name="valgrind" default="false"/>
  <arg name="stack" default="tiago_fixed_base_wbc"/>

  <arg name="source_data_arm" default="end_effector_interactive_marker_reflexx_typeII"/>  <!-- interactive_marker or topic -->
  <arg name="source_data_gaze" default="interactive_marker"/>

  <arg name="base_type" default="pmb2"/>

  <include file="$(find tiago_description)/robots/upload.launch">
    <arg name="base_type" value="$(arg base_type)"/>
  </include>

  <include file="$(find pal_kinematic_simulator)/launch/kinematic_simulator_ros_control.launch">
    <arg name="debug" value="$(arg debug)"/>
    <arg name="valgrind" value="$(arg valgrind)"/>
    <arg name="parameters" value="--cycle_time 0.001"/> 
  </include>

  <include file="$(find tiago_wbc)/launch/tiago_wbc.launch">
    <arg name="stack" value="$(arg stack)" />
    <arg name="base_type" value="$(arg base_type)"/>
  </include>

  <include file="$(find tiago_controller_configuration)/launch/joint_state_controller.launch"/>

  <include file="$(find tiago_wbc)/launch/push_reference_tasks.launch">
  	<arg name="source_data_arm" value="$(arg source_data_arm)"/>
    <arg name="source_data_gaze" value="$(arg source_data_gaze)"/>
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tiago_wbc)/config/rviz/tiago_wbc.rviz" />

</launch>

