<launch>

  <arg name="debug" default="false"/>
  <arg name="valgrind" default="false"/>
  <arg name="stack" default="tiago_wbc"/>
  
  <arg name="source_data" default="interactive_marker"/>  <!-- interactive_marker or topic -->

  <include file="$(find tiago_description)/robots/upload_tiago.launch" />

  <include file="$(find pal_dynamics)/launch/kinematic_simulator_ros_control.launch">
    <arg name="debug" value="$(arg debug)"/>
    <arg name="parameters" value="--cycle_time 0.005"/> 
  </include>

  <include file="$(find tiago_wbc)/launch/tiago_wbc.launch">
    <arg name="source_data" value="$(arg source_data)" />
    <arg name="stack" value="$(arg stack)" />
  </include>

  <include file="$(find tiago_controller_configuration)/launch/joint_state_controller.launch"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tiago_wbc)/config/rviz/tiago_wbc.rviz" />

</launch>

